body{
  box-sizing:border-box;
  margin:0;
}
/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #001529;
  height: 100px;
  width: 100%;
}
.logo {
  margin-right: 25%;
}
.logo img {
  margin: 25% 0 0 0;
  max-width: 100%;
}
@media (max-width: 750px) {
.header {
  flex-direction: column;
  justify-content: center;
  height: 150px;
}
.logo {
  margin-right: 0;
  margin-bottom: -38px;
  }
}